<!DOCUMENT html>
<html>
  <head>
    <%= include_granule("granules/meta_tags.erb") %>
    <title><%= @page_data[:title] %></title>
    <%= include_granule("granules/css_styles.erb") %>

  </head>

  <body class="color-background">
    <%= @page_content %>
  </body>
</html>
